@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--second-color);
  font-family: "Crimson Text", serif;
}

img {
  width: 100%;
}

.main__container .gal .museums .buttons {
  margin: 1rem 0 1rem 0;
  width: 30%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  padding: 1.5rem;
}

.main__container .gal .museums, .main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .gods__grid {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  background-color: #751440;
  font-family: "Crimson Text", serif;
}
.header .header__logo {
  width: 150px;
  height: 150px;
  margin-top: 23px;
  margin-right: 23px;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  justify-content: center;
  font-weight: 600;
  font-size: 1.2rem;
}
.navbar > .container .navbar-dark,
.navbar > .container-fluid .navbar-dark,
.navbar > .container-lg .navbar-dark,
.navbar > .container-md .navbar-dark,
.navbar > .container-sm .navbar-dark,
.navbar > .container-xl .navbar-dark,
.navbar > .container-xxl .navbar-dark {
  background-color: #751440;
}
.navbar > .container .navbar-dark .nav-link,
.navbar > .container-fluid .navbar-dark .nav-link,
.navbar > .container-lg .navbar-dark .nav-link,
.navbar > .container-md .navbar-dark .nav-link,
.navbar > .container-sm .navbar-dark .nav-link,
.navbar > .container-xl .navbar-dark .nav-link,
.navbar > .container-xxl .navbar-dark .nav-link {
  margin: 0 3rem 0 3rem;
}

/*Titles*/
.main__title,
.page__title,
.title {
  font-family: "Crimson Text", serif;
  padding: 4rem;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  color: black;
}

.main__title__two {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin: 2rem 0 2rem 0;
  color: black;
}

h2 {
  text-align: center;
  color: black;
  font-weight: 600;
}

/*Text*/
p {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-indent: 1.8rem;
  text-align: justify;
  padding: 0 2rem 0 2rem;
  color: black;
}

.main {
  font-family: "Crimson Text", serif;
  /*******Index*********/
  /********Dioses olimpicos********/
  /***********Epopeyas y poemas***********/
}
.main .box2 {
  align-items: center;
}
.main .box2 .main__quote::before {
  content: "“";
  left: -2.5rem;
  margin-top: -1.25rem;
  font-size: 4rem;
  display: block;
}
.main .box2 .main__quote {
  max-width: 700px;
  padding: 1.625rem;
  background: #ebafca;
  border: 1px solid #751440;
  color: #751440;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-top: 2.5rem;
}
.main .box2 .main__quote .main__quote__text {
  font-style: italic;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
  color: #751440;
}
.main .box2 .main__quote__border {
  border-left-width: 1.25rem;
}
.main .box3 {
  align-items: center;
}
.main .box4 .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .box4 .box .box__go__to {
  padding: 1rem;
  width: 7rem;
  background: #751440;
  border-bottom: 3px solid #ffff00;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: center;
}
.main .box5 {
  grid-area: box5;
}
.main .box5 .index__img {
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.main .gods__grid {
  max-width: 1200px;
  justify-content: space-around;
}
.main .gods__grid .god__profile {
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
.main .gods__grid .god__card {
  border-radius: 1rem;
}
.main .gods__grid .head__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.main .gods__grid .close__button {
  background-color: #ffff00;
  border: 1px solid #ffff00;
  color: black;
  font-weight: 600;
}
.main .row {
  max-width: 1200px;
}
.main .row .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main .row .column .cover {
  width: 212px;
  height: 300px;
  border-radius: 1rem;
  margin-bottom: 2em;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Crimson Text", serif;
}
.main__container .gal {
  width: 100%;
  position: relative;
}
.main__container .gal .gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem;
}
.main__container .gal .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__container .gal .gallery .gallery__img:nth-of-type(1) {
  grid-column: 1/4;
}
.main__container .gal .gallery .gallery__img:nth-of-type(2) {
  grid-column: 4/6;
}
.main__container .gal .gallery .gallery__img:nth-of-type(3) {
  grid-column: 6/10;
}
.main__container .gal .gallery .gallery__img:nth-of-type(4) {
  grid-column: 10/12;
}
.main__container .gal .gallery .gallery__img:nth-of-type(5) {
  grid-column: 1/4;
}
.main__container .gal .gallery .gallery__img:nth-of-type(6) {
  grid-column: 4/8;
}
.main__container .gal .gallery .gallery__img:nth-of-type(7) {
  grid-column: 8/10;
}
.main__container .gal .gallery .gallery__img:nth-of-type(8) {
  grid-column: 10/12;
}
.main__container .gal .gallery .gallery__img:nth-of-type(9) {
  grid-column: 1/4;
}
.main__container .gal .gallery .gallery__img:nth-of-type(10) {
  grid-column: 4/8;
}
.main__container .gal .gallery .gallery__img:nth-of-type(11) {
  grid-column: 8/12;
}
.main__container .gal .museums .buttons {
  background-color: #751440;
  box-shadow: inset 0 0 0 0 #751440;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.main__container .gal .museums .buttons:hover {
  color: black;
  box-shadow: inset 400px 0 0 0 #ffff00;
}

.main__contacts {
  display: flex;
}
.main__contacts .container {
  max-width: 650px;
  width: 100%;
  padding: 2.8rem 3.15rem;
  border-radius: 0.5rem;
  position: relative;
  font-family: "Crimson Text", serif;
  color: black;
}
.main__contacts .container .title__form {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}
.main__contacts .container .title__form::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 200px;
  left: 0;
  bottom: 0;
  background: linear-gradient(135deg, #f7dae7, #751440);
}
.main__contacts form .user__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.25rem 0 0.75rem 0;
}
.main__contacts form .user__info .data {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.main__contacts form .user__info input[type=submit],
.main__contacts form .user__info input[type=reset] {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.3rem 0.125rem;
  width: 70px;
  background: #751440;
  border: 1px solid #751440;
  border-radius: 10px;
  color: white;
  margin: 0.2rem;
  cursor: pointer;
}
.main__contacts form .user__info .receive__news {
  font-weight: 600;
}
.main__contacts form .input {
  width: 100%;
  margin-bottom: 1.25rem;
}
.main__contacts form input {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 0.3rem;
  border: 1px solid #f7dae7;
  font-size: 1rem;
  border-bottom-width: 0.125rem;
  padding-left: 0.625rem;
  transition: all 0.3s ease;
}
.main__contacts form input input[type=reset] {
  margin-left: 0.625rem;
}
.main__contacts form .user__info .input input:focus,
.main__contacts form .user__info .input input:valid {
  border-color: #751440;
}
.main__contacts form .receive__news {
  font-weight: 600;
  font-size: 1rem;
  margin: 0.1rem 0 1rem 0;
}
.main__contacts form .receive__news .check {
  width: 1rem;
  height: 1rem;
  text-align: center;
}

footer {
  font-family: "Crimson Text", serif;
  text-align: center;
  color: white;
  background-color: #751440;
}
footer h3 {
  font-size: 1.5rem;
  padding: 1rem 0 0 0;
  font-weight: 500;
}
footer .footer__logo {
  width: 2em;
  height: 2em;
  align-content: center;
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 1000px) {
  .main__title__two {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .box__go__to {
    margin: 0 0 4rem 0;
  }
  .main__container {
    display: flex;
    flex-direction: column;
  }
  .main__title {
    font-size: 2.5rem;
  }
  .main__contacts {
    display: flex;
    flex-direction: row;
  }
  .page__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 880px) {
  .main__title__two {
    margin-bottom: 1rem;
  }
  .box__go__to {
    margin: 0 0 4rem 0;
  }
  .main__container {
    display: flex;
    flex-direction: column;
  }
  .main__title {
    font-size: 2.5rem;
  }
  .main__contacts {
    display: flex;
    flex-direction: row;
  }
  .page__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 770px) {
  .main__title__two {
    margin-bottom: 1rem;
  }
  .box__go__to {
    margin: 0 0 4rem 0;
  }
  .main__container {
    display: flex;
    flex-direction: column;
  }
  .main__container .main__title {
    font-size: 2.5rem;
  }
  .main__contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 570px) {
  .main__container {
    display: flex;
    flex-direction: column;
  }
  .main__container .main__title {
    font-size: 2.5rem;
  }
  .main__contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .main__title__two {
    margin-bottom: 1rem;
  }
  .box__go__to {
    margin: 0 0 4rem 0;
  }
  .main__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main__container .main__title {
    font-size: 2.5rem;
  }
  .main__container .main__contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .main__title__two {
    margin-bottom: 1rem;
  }
  .box__go__to {
    margin: 0 0 4rem 0;
  }
  .main__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main__container .main__title {
    font-size: 2rem;
  }
  .main__container .main__contacts {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */