* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--second-color);
    font-family: 'Crimson Text', serif;
}

img {
    width: 100%;
}
