
.main, main{
    font-family: $crimson-text;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
        width: 100%;
    }
    /*******Index*********/
    .main__quote::before {
        content: "\201C";
        left: -2.5rem;
        margin-top: -1.25rem;
        font-size: 4rem;
        display: block;
    }

    .main__quote {
        max-width: 700px;
        margin: auto;
        padding: 1.625rem;
        background: map-get($colors, backgroundQuote);
        border: 1px solid map-get($colors, backgroundColor);
        color: map-get($colors, backgroundColor);
        box-sizing: border-box;
        border-radius: 1rem;
        margin-top: 2.5rem;
        .main__quote__text {
            font-style: italic;
            text-align: justify;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            margin: 0;
            color:map-get($colors, backgroundColor);
        }
    }
    .main__quote__border {
        border-left-width: 1.25rem;
    }

    .introduction {
        max-width: 1200px;
        margin: auto;
    }

    .box {
        @extend %flexRow;
        max-width: 1200px;
        justify-content: flex-end;
        max-width: 100%;
        background-image: url(../assets/images/gods.jpg);
        padding: 300px 200px;
        margin: 3rem 100px 3rem 100px;
        border-radius: 1rem;
        background-size: cover;

        .box__go__to {
            @include boxButton($boxBackground: #751440, $boxBorder: 3px solid #ffff00, $boxLetter: #ffff);
            text-decoration: none;
            max-width: 90px;
            text-align: center;
            margin: auto;
            box-sizing: border-box;
            font-weight: 600;
        }
    }
    /********Dioses olimpicos********/
    .gods__grid {
        @extend %flexRow;
        max-width: 1200px;
        justify-content: space-around;
        .god__profile {
            border-radius: 1rem;
            margin-bottom: 1.25rem;
            cursor: pointer;
        }
        .god__card {
            border-radius: 1rem;
        }
        .head__title {
            font-weight: 700;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .close__button {
            background-color: map-get($colors, changeColor);
            border: 1px solid map-get($colors, changeColor);
            color: black;
            font-weight: 600;
        }
    }
    /***********Epopeyas y poemas***********/
    .row {
        max-width: 1200px;
        .column {
            @extend %flexColumn;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            margin: 0.5rem;
            .cover {
                width: 212px;
                height: 300px;
                border-radius: 1rem;
                margin-bottom: 2em;
            }
        }
    }
}






