@mixin boxButton ($boxBackground, $boxBorder, $boxLetter) {
    padding: 1rem;
    width: 7rem;
    background: $boxBackground;
    border-bottom: $boxBorder;
    border-radius: 1rem;
    color: $boxLetter;
    font-weight: 600;
    margin-top: 3rem;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: padding 0.3s;
    &:hover{
        padding: 1.1rem;
        color: $backgroundColor;
        background-color: $changeColor;
        border-bottom: 3px solid $backgroundColor;
    }
}