/*Titles*/

.main__title,
.page__title,
.title {
    font-family: $crimson-text;
    padding: 4rem;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    color: black;
}

.main__title__two {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 2rem 0 2rem 0;
    color: black;
}

h2 {
    text-align: center;
    color: black;
    font-weight: 600;
}

/*Text*/
p {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-indent: 1.7rem;
    text-align: justify;
    padding: 0 2rem 0 2rem;
    color: black;
}